@import 'simple-css-reset/reset.css';

@import url('https://rsms.me/inter/inter-ui.css');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400');

:root {
  --letterspace: -0.02em;
  --bg: #212121;
  --contrast: #fff;

  font-family: 'Inter UI', sans-serif;
  font-size: calc(.8rem + 1.5vw);



  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg);
}

body {
  background-color: var(--bg);
  line-height: 1.4;
  letter-spacing: var(--letterspace);
  color: var(--contrast);
}

// typo
.title {

}

// layout
.l-design-width {
  max-width: 35rem;
  margin: 0 auto;
  padding: 0 1rem;
}


.wheel {
  position: absolute;
  top: .5rem;
  left: .5rem;
  background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
  border-radius: 50%;
  height: 70px;
  width: 70px;
  cursor: pointer;
  transform: translate(0, 0);
  will-change: transform;
  transition: 200ms transform ease-out, 200ms box-shadow;

  border: 4px solid #212121;

  &:hover,
  &:focus,
  &:active {
    box-shadow: inset 0 0 0 .2rem var(--bg);
  }

  .is-visible & {
    transform: translate(0, -30%);
  }
}