@charset "UTF-8";
@import url("https://rsms.me/inter/inter-ui.css");
@import url("https://fonts.googleapis.com/css?family=Space+Mono:400");

:root {
  --bg: #212121
}

body {
  overflow: hidden
}

.filter__input,
html {
  font-family: Inter UI, sans-serif;
  font-size: 2rem;
  color: #212121;
  background: #212121;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.inner {
  position: absolute;
  padding: 0 .5rem 1rem;
  top: 3.47rem;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch
}

.filter,
.inner {
  left: 0;
  right: 0;
  background: var(--bg)
}

.filter {
  position: fixed;
  padding: .5rem;
  top: 0;
  z-index: 1
}

.filter:after {
  content: "↓";
  position: absolute;
  top: .76rem;
  right: .8rem;
  z-index: 2;
  font-size: 1.5rem;
  line-height: 2rem;
  transform: translate(0);
  will-change: transform;
  transition: transform .2s ease-out
}

.is-visible .filter:after {
  transform: translateY(-30%)
}

.filter__input {
  font-size: 1rem;
  font-weight: 900;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  display: block;
  padding: .5rem 2rem .5rem .75rem;
  box-sizing: border-box;
  width: calc(100% - 90px);
  margin-left: 90px;
  color: #212121;
  background: #fff;
  line-height: 1;
  border: 4px solid #212121;
  letter-spacing: -.02em;
  will-change: transform
}

.is-visible .filter {
  transition: .2s ease-in;
  transform: translateY(-200%)
}

.dialog {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
  will-change: opacity
}

.is-visible .dialog {
  opacity: 1;
  transition: opacity .2s linear
}

.dialog__header {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 1rem;
  font-size: calc(.5rem + 3.75vw)
}

.dialog__header,
.dialog__header h1 {
  transform: translateY(120%);
  overflow: hidden;
  will-change: transform
}

.dialog__header h1 {
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.2
}

.is-visible .dialog__header h1 {
  transform: translate(0);
  transition: transform .3s ease-out .4s
}

.dialog__header h2 {
  margin-top: .15em;
  font-size: .6em;
  transform: translateY(160%);
  will-change: transform
}

.is-visible .dialog__header h2 {
  transform: translate(0);
  transition: transform .2s ease-out .6s
}

.is-visible .dialog__header {
  transform: translate(0);
  transition: transform .3s ease-out 333ms
}

.dialog__bg {
  position: absolute;
  left: .5rem;
  right: .5rem
}

.color {
  cursor: pointer;
  line-height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 .5rem;
  height: 66px;
  overflow: hidden;
  box-sizing: border-box;
  color: var(--color);
  transition: color .1s linear, background-color .1s linear
}

.color:hover {
  color: #000;
  background: var(--color)
}

.color.is-dark:hover {
  color: #fff
}

strong {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: .5rem;
  letter-spacing: -.02em;
  font-weight: 900
}

span {
  font-family: Space Mono, monospace;
  font-size: .7em
}

.filter-color {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0
}

.filter-color input {
  display: none
}

.wheel {
  position: absolute;
  top: .5rem;
  left: .5rem;
  background: conic-gradient(red, #ff0, #0f0, #0ff, #00f, #f0f, red);
  border-radius: 50%;
  height: 70px;
  width: 70px;
  cursor: pointer;
  transform: translate(0);
  will-change: transform;
  transition: transform .2s ease-out, box-shadow .2s;
  border: 4px solid #212121
}

.wheel:active,
.wheel:focus,
.wheel:hover {
  box-shadow: inset 0 0 0 .2rem var(--bg)
}

.is-visible .wheel {
  transform: translateY(-30%)
}

