:root{
    height: 100%;
    background: linear-gradient(45deg, #ff914d,#8c52ff, #86a8e7, #91eae4);
    background-size: 200% 200%;
    animation: backgroundShift 10s infinite;
}

@keyframes backgroundShift {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}
#main-container{
    height: 100%;
    width: 100%;
}
#main-container #Frosted_Background{
    display: inline-block;
    height: 300px;
    width: 356px;
    padding: auto;
    margin: 5px;
    border-radius: 2%;
    background: var(--frosted_background);
    border-radius: 2%;
}
#color-pallete{
    display: inline-block;
    height: 200px;
    width: 350px;
    margin:3px;
    padding: auto;
    border-radius: 2%;
}
#info{
    height: auto;
    width: 100%;
}
#name{
    font-size: 26px;
    text-align: center;
}
#hex{
    font-size: 20px;
    text-align: center;
}
#search-bar{
    display: block;
    background: var(--frosted_background);
    padding: auto;
    font-size: 26px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
}
#search-bar:focus{
    outline: none;
}
#main-container{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
