:root{
    height: 100%;
    background: linear-gradient(45deg, #ff914d,#8c52ff, #86a8e7, #91eae4);
    background-size: 200% 200%;
    animation: backgroundShift 10s infinite;
}

@keyframes backgroundShift {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}
#main-container #Frosted_Background{
    display: inline-block;
    height: 300px;
    width: 325px;
    padding: auto;
    margin: 5px;
    border-radius: 2%;
    background: var(--Frosted_Background);
    border-radius: 2%;
}
#color-pallete{
    display: inline-block;
    height: 200px;
    width: 98%;
    margin:1%;
    padding: auto;
    border-radius: 2%;
}
#info{
    height: auto;
    width: 100%;
}
#name{
    font-size: 26px;
    text-align: center;
}
#hex{
    font-size: 20px;
    text-align: center;
}
#search-bar{
    display: block;
    background: var(--Frosted_Background);
    padding: auto;
    font-size: 26px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
}
#search-bar:focus{
    outline: none;
}
#main-container{
    margin-left: 3%;
}
#rainbow-picker {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.rainbow-swatch {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.rainbow-swatch:hover {
    border-color: #000;
}