# This workflow handles PR validation by running tests and build

name: PR Validation

on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.14.0, 24.10.0]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Use npm 11.6.0
        run: |
          corepack enable
          corepack prepare npm@11.6.0 --activate
      - name: Build
        run: npm run build
      - run: npm test
