# This workflow handles PR validation by running tests and build

name: PR Validation

on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [23.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Use npm 11.6.0
        run: |
          corepack enable
          corepack prepare npm@11.6.0 --activate
      - name: Sort colors
        run: npm run sort-colors
      - name: Build
        run: npm run build
      - run: npm test
      - name: Check for changes
        id: git-check
        run: |
          git diff --quiet src/colornames.csv README.md changes.svg || echo "has_changes=true" >> $GITHUB_OUTPUT
      - name: Commit updated README and SVG
        if: steps.git-check.outputs.has_changes == 'true'
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add src/colornames.csv README.md changes.svg
          git commit -m "chore: sort colors and update docs [skip ci]"
      - name: Push changes
        if: steps.git-check.outputs.has_changes == 'true'
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.head_ref }}
